* {
  all: unset;
}


.bar {
  padding: 10px 20px 2px 20px;
  font-family: Cantarell, system-ui, sans-serif;
}


.workspace-item {
  background: #FFF;
  border-radius: 100%;
}

.workspace-item.active {
  border-radius: 20px;
  color: black;
}

.power-menu {
  background: #fff;
  color: #222;
  border: solid 1px #bbb;
  border-radius: 5px;
  padding: 6px 10px;
}

.power-menu button{
  padding: 10px;
  border-radius: 5px;
}

.power-menu button:hover{
  background: #cfcece;
}

.power-menu:backdrop {
  box-shadow: 1px 12px 12px 12px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.18);
}