label {
    font-weight: bold;
}

.workspaces button {
    background-color: transparent;
    background-image: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    color: #eee;
    border-bottom: 3px solid transparent;
}

.workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #efefef;
}

.workspaces button:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.workspaces button.focused {
    background-color: transparent;
    border-bottom: 3px solid aqua;
}

.client-title {
    margin-left: 1em;
}

.client-title {
    color: aqua;
}

.bar {
    background-color: transparent;
    color: #eee;
}

.clock {
    margin: 0 6px;
    font-size: 1.1em;
}

progress, highlight {
    background-color: aqua;
    min-height: 8px;
}
